.title {
    display: block;
    width: 589px;
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    margin: 0px;

}
.header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}